
$fa-font-path: "/bower_components/font-awesome/fonts";

$brand: #dc3522;
$secondary: #d9cb9e;

$black: #1e1e20;
$dark-gray: #2a2c2b;
$light-gray: #374140;

$white: #ccc;

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

body {
  margin: 0;
}

main {
  margin: 25px;
}

.footer {
    text-align: left;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'helpers/namebox/namebox.scss';
@import 'main/main.scss';
@import 'tv/addnewshow/addnewshow.scss';
@import 'tv/showItem/showItem.scss';
@import 'tv/tv.scss';
@import 'tv/tvshow/tvshow.scss';
@import 'navbar/navbar.scss';
// endinjector
