.navbar {

  background: $light-gray;
  padding: 15px 25px;

  a {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a.active {
    border-bottom: solid 1px $white;
  }

  ul.nav {

    margin: 0;
    padding: 0;

    li {
      display: inline;
    }
  }

  ul.navbar-links {
    display: inline-block;
  }

  .navbar-right {
    float: right;
  }

  .navbar-brand {
    display: block;
    color: $white;
    font-size: large;
    font-weight: bold;
    margin-bottom: 30px;
  }
}
